@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
body {
  font-size: 0.875rem;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.06em;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  background-color: rgb(0, 0, 0);
}

.inner {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
  padding: 0 20px;
  position: relative;
}

.l-inner {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  position: relative;
}

.mincho {
  font-family: "kozuka-mincho-pr6n", serif;
}

.sec-pad {
  padding-top: 100px;
}

.sec-heading {
  font-size: 1.5rem;
  line-height: 1;
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.sec-sub-heading {
  display: block;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 0.875rem;
  margin-top: 14px;
}

.btn {
  color: #000000;
  border-radius: 10px;
  display: block;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin: 0 auto;
}

.phone-btn {
  width: 80%;
  background: linear-gradient(12deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #676767 100%);
  padding: 15px;
}
.phone-btn__top {
  font-weight: bold;
  font-size: 0.75rem;
}
.phone-btn__middle {
  font-family: "kozuka-mincho-pr6n", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.04em;
  margin-top: 8px;
}
.phone-btn__middle img {
  width: 18px;
  margin-right: 5px;
}
.phone-btn__bottom {
  font-size: 0.875rem;
  margin-top: 6px;
  font-weight: normal;
}

.contact-btn {
  background-color: #F7C847;
  width: 80%;
  font-size: 0.75rem;
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-btn__middle {
  margin-top: 2px;
  margin-bottom: 2px;
}

.footer-contact-btn {
  margin-top: 20px;
}

.contact-btn__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.more {
  border: 1px solid #fff;
  font-size: 1rem;
  line-height: 1;
  padding: 12px;
  display: block;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 55px;
}

.sns-link__icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.sns-link__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sns-link .facebook {
  background-color: #1759B2;
  margin-right: 10px;
}
.sns-link .facebook img {
  width: 30%;
}
.sns-link .instagram {
  background-image: linear-gradient(45deg, #D1AB2C, #FF12DB);
}
.sns-link .instagram img {
  width: 55%;
}

.page-link__wrap {
  display: block;
  text-align: right;
}
.page-link__wrap .page-link {
  position: relative;
  padding-right: 98px;
  line-height: 1;
}
.page-link__wrap .page-link::before, .page-link__wrap .page-link::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #000000;
}
.page-link__wrap .page-link::before {
  width: 88px;
  bottom: 0%;
  right: 0%;
}
.page-link__wrap .page-link::after {
  width: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0%;
  bottom: 21%;
}
.page-link__wrap.--white {
  text-align: center;
}
.page-link__wrap.--white .page-link {
  padding-top: 14px;
  padding-bottom: 14px;
  display: block;
}
.page-link__wrap.--white .page-link::before, .page-link__wrap.--white .page-link::after {
  background: #ffffff;
}
.page-link__wrap.--white .page-link::before {
  bottom: 40%;
  right: 54px;
}
.page-link__wrap.--white .page-link::after {
  right: 54px;
  bottom: 47%;
}

.burger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
  position: relative;
}
.burger.active .bar:nth-of-type(2) {
  opacity: 0;
}
.burger.active .bar:nth-of-type(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 0%;
}
.burger.active .bar:nth-of-type(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 0%;
}

.bar {
  width: 80%;
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.bar:nth-of-type(1) {
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}
.bar:nth-of-type(3) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

body.active {
  overflow-y: hidden;
}

@media (min-width: 576px) {
  .sec-heading {
    font-size: 2rem;
    margin-bottom: 82px;
  }
  .sec-sub-heading {
    font-size: 1rem;
    margin-top: 18px;
  }
  .btn {
    margin: 0;
  }
  .phone-btn {
    width: 300px;
  }
  .phone-btn__middle {
    font-size: 1.875rem;
  }
  .contact-btn {
    width: 140px;
    margin-left: 10px;
  }
  .contact-btn__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sns-link__icon {
    height: 64px;
    width: 62px;
  }
}
@media (min-width: 765px) {
  .sec-pad {
    padding-top: 200px;
  }
}
.contact-btn__wrap {
  margin-top: 0px;
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
}
/* Hover Event */
@media (hover: hover) {
  .nav__link,
.phone-btn,
.contact-btn,
.sns-link__icon,
.products-card__item,
.scene-card {
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  .nav__link:hover,
.phone-btn:hover,
.contact-btn:hover,
.sns-link__icon:hover,
.products-card__item:hover,
.scene-card:hover {
    opacity: 0.6;
  }
  .more {
    -webkit-transition: background 0.4s, color 0.4s;
    transition: background 0.4s, color 0.4s;
  }
  .more:hover {
    background: #fff;
    color: #000;
  }
  .page-link::before,
.page-link::after {
    -webkit-transition: right 0.4s;
    transition: right 0.4s;
  }
  .page-link:hover::before,
.page-link:hover::after {
    right: -5%;
  }
}
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header {
  z-index: 1;
}
.header__wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .site-title {
  width: 533.5px;
  width: 280px;
}

.header-btn--phone {
  display: none;
}

.sp-header__bottom {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.sp-header__bottom-wrap {
  border-left: 1px solid #707070;
  padding-left: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pc-header__bottom {
  display: none;
}

@media (min-width: 765px) {
  .header__sns-link {
    position: absolute;
    top: -27px;
    right: -130px;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  .header__wrap {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header__top {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header .site-title {
    width: 533.5px;
  }
  .header-btn--phone {
    display: block;
  }
  .pc-header__bottom {
    display: block;
    margin-top: 47px;
    position: relative;
  }
}
/* -------------------------------------------- */
/* ナビメニュー関連 */
/* -------------------------------------------- */
.nav {
  line-height: 1;
  font-weight: bold;
}

.sp-nav {
  font-size: 1rem;
}
.sp-nav__item:not(:first-child) {
  margin-top: 31px;
}
.sp-nav__link {
  display: inline-block;
}

.sp-sns-link {
  margin-top: 30px;
}

.header-nav {
  font-size: 1rem;
}
.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav__item {
  margin-right: 35px;
}

.footer-nav {
  margin-top: 20px;
}
.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-nav__item {
  margin-top: 10px;
  margin-right: 8px;
}
.footer-nav__item:not(:first-child) {
  border-left: 1px solid #707070;
  padding-left: 8px;
}

@media (min-width: 765px) {
  .sp-nav {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .footer-nav {
    margin-top: 0px;
    border-left: 1px solid #707070;
    padding-left: 40px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
  }
  .footer-nav__list {
    display: block;
  }
  .footer-nav__item {
    margin-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
  }
  .footer-nav__item:not(:first-child) {
    border-left: none;
    padding-left: 0;
    margin-top: 30px;
  }
}
/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv {
  background-color: rgb(0, 0, 0);
  position: relative;
  padding-top: 25px;
}
.mv__copy {
  font-size: min(max(26px, 1.625rem + (1vw - 3.75px) * 4.0884), 63px);
  font-family: "kozuka-mincho-pr6n", serif;
  position: absolute;
  z-index: 1;
  bottom: 4.6875vw;
}

/* -------------------------------------------- */
/* about */
/* -------------------------------------------- */
.about {
  text-align: center;
  line-height: 2;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/about.png) 0%/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/about.png) 0%/cover;
  overflow: hidden;
}
.about::before {
  content: "";
  background: inherit;
  -webkit-filter: blur(9px);
          filter: blur(9px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
}
.about__wrap {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about__top {
  font-size: 1.25rem;
}
.about__bottom {
  font-size: 0.875rem;
  margin-top: 50px;
}

@media (min-width: 765px) {
  .about__wrap {
    padding-top: 140px;
    padding-bottom: 165px;
  }
  .about__top {
    font-size: 1.875rem;
  }
  .about__bottom {
    font-size: 1rem;
    margin-top: 70px;
  }
}
/* -------------------------------------------- */
/* pickUp  */
/* -------------------------------------------- */
.pickUp__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 40px;
}
.pickUp__body {
  background-color: #fff;
  color: #000000;
  width: 100%;
  margin-top: 30px;
  padding: 30px 15px;
}
.pickUp__name {
  font-size: 1.25rem;
  text-align: center;
}
.pickUp__desc {
  margin-top: 30px;
}
.pickUp__link {
  margin-top: 26px;
  display: inline-block;
}
.pickUp__image {
  width: 100%;
}

@media (min-width: 765px) {
  .pickUp__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 82px;
  }
  .pickUp__body {
    width: 50%;
    padding: 60px 50px;
    margin-top: 0;
  }
  .pickUp__name {
    font-size: 1.5rem;
  }
  .pickUp__desc {
    margin-top: 41px;
  }
  .pickUp__images {
    width: 50%;
  }
}
/* -------------------------------------------- */
/* products */
/* -------------------------------------------- */
.products-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 990px;
  margin-left: auto;
}
.products-card__item {
  margin-top: 50px;
  width: 100%;
}
.products-card__bg {
  aspect-ratio: 1/1.193;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.products-card__desc {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 22px 32px;
}
.products-card__label {
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 120px;
  padding: 28px;
  position: absolute;
  font-weight: bold;
  top: -10px;
  left: -10px;
  background: linear-gradient(45deg, #91910D, #FFC600);
}

@media (min-width: 576px) {
  .products-card__item {
    width: calc((100% - 44px) / 2);
  }
  .products-card__label {
    font-size: 1rem;
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 765px) {
  .products-card__item {
    width: calc((100% - 88px) / 3);
  }
}
/* -------------------------------------------- */
/* scene */
/* -------------------------------------------- */
.scene__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -56px;
}

.scene-card {
  width: 100%;
  position: relative;
  margin-top: 56px;
}
.scene-card__image {
  width: 100%;
}
.scene-card__heading {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#910D40), to(#F50168));
  background: linear-gradient(90deg, #910D40, #F50168);
  padding: 1em;
  font-size: 1rem;
  line-height: 1;
}

@media (min-width: 576px) {
  .scene-card {
    width: calc((100% - 55px) / 2);
    position: relative;
    margin-top: 56px;
  }
}
@media (min-width: 992px) {
  .scene-card {
    width: 300px;
    height: 300px;
  }
}
/* -------------------------------------------- */
/* アクセス */
/* -------------------------------------------- */
.accses__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.accses__left {
  width: 100%;
}
.accses__right {
  width: 100%;
}
.accses__map {
  width: 100%;
  margin-top: 30px;
}
.accses__map iframe {
  width: 100%;
  aspect-ratio: 45/22;
  vertical-align: bottom;
}

.company-info__name {
  line-height: 1;
}
.company-info__address {
  margin-top: 32px;
}
.company-info__list {
  margin-top: 14px;
}

.accses__company-info {
  display: none;
}

.accses-contact-btn__wrap {
  display: none;
}

@media (min-width: 992px) {
  .accses__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .accses__left {
    width: 50%;
    margin-right: 50px;
  }
  .accses__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 45%;
  }
  .accses-contact-btn__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .accses__company-info {
    display: block;
  }
}
/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__contact {
  margin-top: 10px;
}
.footer__sns-link {
  display: none;
}
.footer__copy {
  border-top: 1px solid #fff;
  padding: 16px 0;
  text-align: center;
  font-size: 0.75rem;
  padding: 40px;
}

.footer-company-info__name {
  font-size: 1.5rem;
}

@media (min-width: 765px) {
  .footer__left {
    margin-right: 80px;
  }
  .footer__sns-link {
    display: block;
  }
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-contact-btn__wrap {
    margin-right: 25px;
  }
}
@media (min-width: 992px) {
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */