@charset "UTF-8";
*{
  box-sizing: border-box;
}

@function rem($px){
  @return ($px/16) *1rem;
}

$textColor: #ffffff;
$blackColor: #000000;


body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}


header,main,section,footer, div, ul, li, h1,h2,h3,dl,dt,dd{
  // background-color: rgba(0,0,0,0.9);
  // background-color: rgba(0,200,100,0.1);
  // border: 1px solid rgba(0,0,0,0.1);
}

/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
body {
  font-size: rem(14);
  color: $textColor;
  line-height: 1.5;
  letter-spacing: 0.06em;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  background-color: rgb(0,0,0);
}

.inner{
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
  padding: 0 20px;
  // border: 1px solid #ddd;
  position: relative;
}

.l-inner{
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  // border: 1px solid #fff;
  position: relative;
}

.mincho{
  font-family: "kozuka-mincho-pr6n", serif;
  font-weight: 400;
}

//section間のpadding
.sec-pad{
  padding-top: 100px;
}

//セクションの見出し
.sec-heading{
  font-size: rem(24);
  line-height: 1;
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

//下層ページのあしらい
.sec-heading--border{
  position: relative;
  &::before{
    content: " ";
    width: 140px;
    height: 3px;
    display: block;
    background-color: #A40B48;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

}

//セクションの小見出し
.sec-sub-heading{
  display: block;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: rem(14);
  margin-top: 14px;
  font-weight: 400;
}

//----- ボタン関連 -----
//ボタン共通
.btn{
  color: $blackColor;
  border-radius: 10px;
  display: block;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin: 0 auto;
}

//電話ボタン
.phone-btn{
  width: 80%;
  background:linear-gradient(12deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #676767 100%);
  padding: 15px;

  //三行の上
  &__top{
    font-weight: bold;
    font-size: rem(12);
  }
  
  //三行の真ん中
  &__middle{
    font-family: "kozuka-mincho-pr6n", serif;
    font-weight: 700;
    font-style: normal;
    font-size: rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    margin-top: 8px;

    //アイコン
    img{
      width: 18px;
      margin-right: 5px;
    }
  }

  //三行の下
  &__bottom{
    font-size: rem(14);
    margin-top: 6px;
    font-weight: normal;
  }
}

//お問い合わせボタン
.contact-btn{
  background-color: #F7C847;
  width: 80%;
  font-size: rem(12);
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__middle{
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.footer-contact-btn{
  margin-top: 20px;
}

//電話と問い合わせのwrap
.contact-btn__wrap{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

//もっと見るボタン
.more{
  border: 1px solid #fff;
  font-size: rem(16);
  line-height: 1;
  padding: 12px;
  display: block;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 55px;
}

//----- snsアイコン -----
.sns-link{
  &__icon{
    height:50px;
    width:50px;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .facebook {
    background-color: #1759B2;
    margin-right: 10px;

    img{
      width: 30%;
    }
  }

  .instagram{
    background-image: linear-gradient(45deg, #D1AB2C, #FF12DB);
    img{
      width: 55%;
    }
  }
}

//----- 製品ページへのリンクと矢印 -----
//基本
.page-link__wrap{
  display: block;
  text-align: right;
  
  .page-link{
    position: relative;
    padding-right: 98px;
    line-height: 1;
  
    &::before,
    &::after{
      content: "";
      position: absolute;
      height: 1px;
      background: $blackColor;
    }

    //下の線
    &::before{
      width: 88px;
      bottom: 0%;
      right: 0%;
    }
  
    //上の線
    &::after{
      width: 8px;
      transform: rotate(45deg);
      right: 0%;
      bottom: 21%;
    }
  }

  //白バージョン
  &.--white{
    text-align: center;
    .page-link{
      padding-top: 14px;
      padding-bottom: 14px;
      display: block;

      //矢印
      &::before,
      &::after{
        background: $textColor;
      }

      //下の線
      &::before{
        bottom: 40%;
        right:54px;
      }

      //上の線
      &::after{
        right: 54px;
        bottom: 47%;
      }
    }
  }
}

// ----- ハンバーガーメニュー ----- 
.burger{
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
  position: relative;
  &.active .bar:nth-of-type(2){
    opacity: 0;
  }

  &.active .bar:nth-of-type(1){
    transform: rotate(-45deg);
    left: 0%;
  }

  &.active .bar:nth-of-type(3){
    transform: rotate(45deg);
    left: 0%;
  }
}

// ハンバーガーメニューのバー
.bar{
  width: 80%;
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background-color: $textColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,0);
  transition: all .4s;

  &:nth-of-type(1){
    transform:translate(-50%,10px);
  }
  
  &:nth-of-type(3){
    transform:translate(-50%,-10px);
  }
}
    
// bodyにactiveクラスが着いた時 
body.active{
  overflow-y: hidden;
}

@media (min-width: 576px) {
  //セクションの見出し
  .sec-heading{
    font-size: rem(32);
    margin-bottom: 82px;
  }

  //セクションの小見出し
.sec-sub-heading{
  font-size: rem(16);
  margin-top: 18px;
}

  //----- ボタン関連 -----
  //ボタン共通
  .btn{
    margin: 0;
  }

  //電話ボタン
  .phone-btn{
    width: 300px;

    //三行の真ん中
    &__middle{
      font-size: rem(30);
    }
  }

  //お問い合わせボタン
  .contact-btn{
    width: 140px;
    margin-left: 10px;
  }

  .contact-btn__wrap{
    flex-direction: row;
  }

  //---- snsアイコン -----
  .sns-link{

    &__icon{
      height: 64px;
      width: 62px;
    }
  }
}

//----- カードレイアウト -----
.card-common{
  
  &__wrap{
    position: relative;
    // border: 1px solid #fc2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin-top: -56px;
  }

  &__item{
    width: 100%;
    position: relative;
    // margin-top: 56px;
  }

  &__image{
    width: 100%;
  }

  //見出し
  &__heading{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background: linear-gradient(90deg, #910D40, #F50168 );
    padding: 1em;
    font-size: rem(16);
    line-height: 1;
    font-weight: bold;
  }
}

@media (min-width: 576px){
  //----- カードレイアウト -----
  .card-common{
    &__item{
      width: calc((100% - 55px)/2);
    }
  }
}

@media (min-width: 765px) {
  //section間のpadding
  .sec-pad{
    padding-top: 200px;
  }
}

//電話と問い合わせのwrap
.contact-btn__wrap{
  margin-top: 0px;
}

@media (min-width: 992px){
  // バーガーメニュー
  .burger{
    display: none;
  }

   //----- カードレイアウト -----
  .card-common{
    &__wrap{
      &::after{
        content: "";
        width: 300px;
        display: block;
      }
    }

    &__item{
      width: 300px;
      height: 300px;
    }
  }
}

/* Hover Event */
@media (hover: hover){
  .nav__link,
  .phone-btn,
  .contact-btn,
  .sns-link__icon,
  .products-card__item,
  .card-common__item{
    transition: opacity .6s;
    &:hover{
      opacity: .6;
    }
  }

  //もっと見るボタン
  .more{
    transition: background .4s, color .4s; 
    &:hover{
      background: #fff;
      color: #000;
    }
  }

  .page-link::before,
  .page-link::after{
    transition: right .4s;
  }

  .page-link:hover::before,
  .page-link:hover::after{
    right: -5%;
  }
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{
  z-index: 1;

  &__wrap{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  //----- ヘッダー上部 -----
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-title{
    width: 533.5px;
    width: 280px;
  }
}

//電話ボタン
.header-btn--phone{
  display: none;
}

//----- sp用ヘッダー下部 -----
.sp-header__bottom{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.sp-header__bottom-wrap{
  border-left: 1px solid #707070;
  padding-left: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//----- pc用ヘッダー下部 -----
.pc-header__bottom{
  display: none;
}

@media (min-width: 765px) {
  .header__sns-link{
    position: absolute;
    top: -27px;
    right: -130px;
    z-index: 1;
  }

}

@media (min-width: 992px){
  .header{

    &__wrap{
      padding-top: 0;
      padding-bottom: 0;
    }
  
    //----- ヘッダー上部 -----
    &__top{
      align-items: flex-end;
    }

    .site-title{
      width: 533.5px;
    }
  }

  //電話ボタン
  .header-btn--phone{
    display: block;
  }

  //pc用ヘッダー下部
  .pc-header__bottom{
    display: block;
    margin-top: 47px;
    position: relative;
  }
}

/* -------------------------------------------- */
/* ナビメニュー関連 */
/* -------------------------------------------- */
.nav{
  line-height: 1;
  font-weight: bold;
}

//----- sp用ナビ -----
.sp-nav{
  font-size: rem(16);

  &__item{
    &:not(:first-child){
      margin-top: 31px;
    }
  }

  &__link{
    display: inline-block;
  }
}

//snsのリンク
.sp-sns-link{
  margin-top: 30px;
}

//----- pc用ヘッダーナビ -----
.header-nav{
  font-size: rem(16);

  &__list{
    display: flex;
  }

  &__item{
    margin-right: 35px;
  }
}

//----- pc用フッターナビ -----
//footerのナビ
.footer-nav{
  margin-top: 20px;
  
  &__list{
    display: flex;
    flex-wrap: wrap;
  }
  
  &__item{
    margin-top: 10px;
    margin-right: 8px;
    
    &:not(:first-child){
      border-left: 1px solid #707070;
      padding-left: 8px;
    }
  }
}

@media (min-width: 765px) {
  //----- sp用ナビ -----
  .sp-nav{
    font-size: rem(16);
  }

  .header-nav{
    // display: flex;
  }
}

@media (min-width: 992px){
  //footerのナビ
  .footer-nav{
    margin-top: 0px;
    border-left: 1px solid #707070;
    padding-left: 40px;
    flex: 1;
    height: 100%;
    
    &__list{
      display: block;
    }
    
    &__item{
      margin-top: 0px;
      margin-right: 0px;
      padding-left: 0px;
      
      &:not(:first-child){
        border-left: none;
        padding-left: 0;
        margin-top: 30px;
      }
    }
  }
}

/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv{
  background-color: rgb(0, 0, 0);
  position: relative;
  padding-top: 25px;

  &__copy{
    font-size: min(max(26px, calc(1.625rem + ((1vw - 3.75px) * 4.0884))), 63px);
    font-family: "kozuka-mincho-pr6n", serif;
    position: absolute;
    z-index: 1;
    bottom: calc(90 / 1920 * 100vw);
  }
}

@media (min-width: 765px) {
  .mv{
  
    &__copy{

    }
  }
}

/* -------------------------------------------- */
/* yasuda */
/* -------------------------------------------- */
.yasuda{
  text-align: center;
  line-height: 2;
  position: relative;
  // height: 650px;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/yasuda.png) 0%/cover;
  overflow: hidden;

  &::before{
    content: '';
    background: inherit;
    filter: blur(9px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
  }

  &__wrap{
    padding-top: 100px;
    padding-bottom: 100px;
    // border: 1px solid #fff;
  }

  &__top{
    font-size: rem(20);
  }
  
  &__bottom{
    font-size: rem(14);
    margin-top: 50px;
  }

}

@media (min-width: 765px) {
  .yasuda{
    // height: 650px;
  
    &__wrap{
      padding-top: 140px;
      padding-bottom: 165px;
    }
  
    &__top{
      font-size: rem(30);
    }
    
    &__bottom{
      font-size: rem(16);
      margin-top: 70px;
    }
  }
}

/* -------------------------------------------- */
/* pickUp  */
/* -------------------------------------------- */
.pickUp{
  &__wrap{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px;
  }

  //文章の方
  &__body{
    background-color: #fff;
    color: $blackColor;
    width: 100%;
    margin-top: 30px;
    padding: 30px 15px;
  }

  &__name{
    font-size: rem(20);
    text-align: center;
  }

  &__desc{
    margin-top: 30px;
  }
  
  &__link{
    margin-top: 26px;
    display: inline-block;
  }
  
  //画像の方
  &__image{
    width: 100%;
  }
}

@media (min-width: 765px) {
  .pickUp{
    &__wrap{
      flex-direction: row-reverse;
      margin-top: 82px;
    }
    
    //文章の方
    &__body{
      width: 50%;
      padding: 60px 50px;
      margin-top: 0;
    }
  
    &__name{
      font-size: rem(24);
    }

    &__desc{
      margin-top: 41px;
    }
    
    //画像の方
    &__images{
      width: 50%;
    }
  }

}

/* -------------------------------------------- */
/* products */
/* -------------------------------------------- */
.products{
  
}

//----- 製品 -----
.products-card{

  &__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 990px;
    margin-left: auto;
  }
  
  //アイテム
  &__item{
    margin-top: 50px;
    width: 100%;
  }

  //背景画像
  &__bg{
    aspect-ratio: 1/ 1.193;
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  //説明
  &__desc{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 22px 32px;
    background-color: lightseagreen;
    min-height: 107px;
  }

  //ラベル
  &__label{
    font-size: rem(14);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    padding: 28px;
    position: absolute;
    font-weight: bold;
    top: -10px;
    left: -10px;
    background: linear-gradient(45deg,#91910D,#FFC600)
  }
}

@media (min-width: 576px){
  //----- 製品 -----
  .products-card{
  
    //アイテム
    &__item{
      width: calc((100% - 44px) / 2);
    }

    //ラベル
    &__label{
      font-size: rem(16);
      width: 140px;
      height: 140px;
    }
  }
}

@media (min-width: 765px) {
//----- 製品 -----
.products-card{
  
  //アイテム
  &__item{
    width: calc((100% - 88px) / 3);
  }
}

}

/* -------------------------------------------- */
/* scene */
/* -------------------------------------------- */
.scene{

}

//シーンのカード
.scene-card{
  margin-top: 56px;
  
  &__wrap{
    margin-top: -56px;
  }
}

/* -------------------------------------------- */
/* アクセス */
/* -------------------------------------------- */
.accses{
  &__wrap{
    display: flex;
    flex-direction: column-reverse;
  }

  //アクセス左側(画像)
  &__left{
    width: 100%;
  }
  
  //アクセス右側(情報)
  &__right{
    width: 100%;
  }

  //google map
  &__map{
    width: 100%;
    margin-top: 30px;
    iframe{
      width: 100%;
      aspect-ratio: 45/22;
      vertical-align: bottom;
    }
  }
}

//会社情報
.company-info{

  &__name{
    line-height: 1;
  }

  &__address{
    margin-top: 32px;
  }

  &__list{
    margin-top: 14px;
  }
}

.accses__company-info{
  display: none;
}

.accses-contact-btn__wrap{
  display: none;
}


@media (min-width: 765px) {

}

@media (min-width: 992px){
  .accses{
    &__wrap{
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    //アクセス左側
    &__left{
      width: 50%;
      margin-right: 50px;
    }

    //アクセス右側
    &__right{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
    }
  }

  .accses-contact-btn__wrap{
    display: flex;
  }

  .accses__company-info{
    display: block;
  }
}

/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer{

  &__wrap{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__contact{
    margin-top: 10px;
  }
  
  &__sns-link{
    display: none;
  }
  
  //コピーライト
  &__copy{
    border-top: 1px solid #fff;
    padding: 16px 0;
    text-align: center;
    font-size: rem(12);
    padding: 40px;
  }
}

.footer-company-info__name{
  font-size: rem(24);
}

@media (min-width: 765px) {
  .footer{
    &__left{
      margin-right: 80px;
    }
    
    &__sns-link{
      display: block;
    }

    &__contact{
      display: flex;
      align-items: center;
    }
  }

  .footer-contact-btn__wrap{
    margin-right: 25px;
  }
}

@media (min-width: 992px){
  .footer{
    &__wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 140px;
      padding-bottom: 140px;
    }
  }
}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}

/* -------------------------------------------- */
/* catalog */
/* -------------------------------------------- */
.catalog{

  &__attention{
    margin-bottom: 18px;
    text-align: center;
  }

}

//カタログページのカード
.catalog-card{

  &__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    // border: 1px solid #fff;
  }

  &__item{
    width: 100%;
    position: relative;
    margin-top: 80px;
  }
  
  &__link{
    display: block;
    width: 100%;
  }

  //説明
  &__desc{
    padding: 22px 25px;
    width: 100%;
  }
}

//----- カタログページのボタン -----
.catalog-more{
  margin-top: 0;
  width: 100%;
  max-width: 300px;

  &.--pdf{
    margin-top: 10px;
  }
}


@media (min-width: 576px){
  //カタログページのカード
  .catalog-card{
    &__item{
      width: calc((100% - 55px)/2);
    }
  }
}

@media (min-width: 765px) {



}

@media (min-width: 992px){
  //カタログページのカード
  .catalog-card{
    &__wrap{
      &::after{
        content: "";
        width: 300px;
        display: block;
      }
    }

    &__item{
    width: 300px;
    }
  }
}

/* -------------------------------------------- */
/* シーンページ */
/* -------------------------------------------- */


@media (min-width: 765px) {


}

/* -------------------------------------------- */
/* 会社概要 */
/* -------------------------------------------- */
.about{

}

//----- 会社概要の表 -----
.about-table{
  font-size: rem(14);
  border-collapse: collapse;
  width: 100%;

  &__heading,
  &__date{
    width: 100%;
  }
  
  &__heading{
    white-space: nowrap;
    padding-left: 45px;
    text-align: left;
    width: 32%;
  }
  
  &__date{
    padding: 50px 30px;
  }

  &__row{
    border-bottom: 1px solid #ffffff;
  }
}

@media only screen and (max-width: 765px) {
  .about-table{

    &__heading,
    &__date{
      width: 100%;
      padding: 24px 0;
      display: block;
    }
  
    &__date{
      width: 100%;
    }
  
    &__date{
      padding-top: 0;
    }
  }
}

//----- アクセス -----
.about-accses{
  padding-top: 100px;
  padding-bottom: 53px;

  //地図
  &__map{
    margin-top: 0;
  }
}


//行き方
.howToGo{
  margin-top: 14px;
}

//会社の情報
.about-company-info{
  margin-top: 32px;
  

  &__address{
    margin-top: 0;
  }
}

//ボタン関連
.about-phone-btn__middle{
  margin-top: 0;
}

.about-phone-btn__bottom{
  font-size: rem(12);
}


@media (min-width: 765px) {
  
  
}

@media (min-width: 992px){
  //----- アクセス -----
  //地図
  .about-accses__map{
    width: 50%;
    margin-right: 60px;
  }

  //会社の情報
  .about-company-info{
    margin-top: 0px;

    &__wrap{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .about-accses__wrap{
    display: flex;
    justify-content: space-between;
  }
}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}